# Plantilla de variables de entorno
NEXT_PUBLIC_APP_NAME=Mi App TypeScript
NEXT_PUBLIC_APP_LOCALE=es-CO

# Vercel Blob: URL base para almacenamiento de archivos JSON
VERCEL_BLOB_BASE_URL=https://<tu-proyecto>.vercel-storage.com/
VERCEL_BLOB_TOKEN=<tu-token-de-acceso>
